@use 'src/styles/abstracts/_constants' as constants;
@use 'src/styles/abstracts/mixins' as mixins;

.footer {
  @include mixins.content-wrapper-row;
  height: auto;
  color: black;
  font-weight: 100;
  background-color: lighten(lightblue, 15%);
  border-top: 1px solid grey;
  font-weight: 300;

  .basedata {
    @include mixins.content-wrapper-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.5rem 2rem;

    @media screen and (min-width: constants.$mobileMaxWidth) {
      margin: 0.5rem 1rem;
    }
  }

  .socialMediaLink {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.25rem;
    img {
      height: 1rem;
      width: 1rem;
      margin-right: 0.25rem;
    }
    a {
      text-decoration: none;
    }
  }
}
