@use 'src/styles/abstracts/_constants' as constants;

.navigation {
  position: fixed;
  z-index: 1000;
  height: 100%;
  top: 0;
  right: -20rem;
  width: 20rem;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  transition: right 300ms;
  background-color: #fff;
  padding: 0.5rem 4rem 0.5rem 1.5rem;

  &.open {
    right: 0;
    box-shadow: 0.25rem 0 0.5rem black;
  }

  @media screen and (min-width: constants.$mobileMaxWidth) {
    position: static;
    flex: 0 0 auto;
    width: initial;
    height: initial;
    top: initial;
    right: initial;
    border-left: none;
    overflow-y: hidden;
    background-color: transparent;
    padding: 0;

    &.open {
      right: -20rem;
      box-shadow: none;
    }

  }

  .navtitle {

    @media screen and (min-width: constants.$mobileMaxWidth) {
      display: none;
    }

    margin-top: 1rem;

  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 1rem 1rem 0 0;
    text-wrap: nowrap;

    .item a {
      color: currentColor;
      text-decoration-line: none;
      width: 100%;

      &:hover {
        text-decoration-line: underline;
      }
    }

    @media screen and (min-width: constants.$mobileMaxWidth) {
      font-size: 1.25rem;
      flex-direction: row;
      gap: 2.5rem;

      .item {
        padding: 0.5rem 0;
      }
    }
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    @media screen and (min-width: constants.$mobileMaxWidth) {
      display: none;
    }
  }
}
