@use 'sass:color';

@use 'src/styles/abstracts/_colors' as colors;


$button-color: colors.$themeLightGrey;

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  // appearance: none;

  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 0;
  box-shadow: 0 0 1px #bbb;
}

button {
  color: colors.$themeBlue;
  background-color: $button-color;
  border: 1px solid #666;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 1px #bbb;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($button-color, $lightness: -5%);
  }

  &:active {
    background-color: color.adjust($button-color, $lightness: -10%);
  }
}
